.border{
    border: 2px solid black;

}

section:nth-of-type(1) {
    /* enter needed declarations here */
    display: flex;
    background: lightgreen;
    width: 100%;
    height: 5em;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.green-box{
    background-color: green;
    width: 2em;
    height: 1em;
}

.green-box:nth-of-type(4){
    align-self: flex-start;
}

section:nth-of-type(2){
    display: flex;
    background-color: purple;
    width: 100%;
    margin-bottom: 15px;

}

.purple-box:nth-of-type(1) {
    /* enter needed declarations here */
    height: 1em;
    flex-grow: 3;
}

.purple-box:nth-of-type(2) {
    /* enter needed declarations here */
    flex-grow: 2;
    height: 1em;
}

.purple-box:nth-of-type(3) {
    /* enter needed declarations here */
    flex-grow: 1;
    height: 1em;
}

.blue-box {
    width: 100%;
    background: blue;
    height: 10em;
}

section:nth-of-type(3) {
    /* enter needed declarations here */
    display: flex;


}

section:nth-of-type(3) h3 {
    /* enter needed declarations here */
    display: flex;





}

.orange-circle {
    background: orange;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: .5em;

}

.large-brown-box {
    height: 5em;
    width: 5em;
    background: brown;
    /* enter needed declarations here */
}

.large-brown-box:nth-of-type(2) {
    margin: 0 1em;
}

section:nth-of-type(4) {
    /* enter needed declarations here */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5px;
}

section:nth-of-type(5) {
    /* enter needed declarations here */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5px;
}

.yellow-box {
    background: yellow;
    width: 2em;
    height: 2em;
}

section:nth-of-type(6) {
    background: coral;
    height: 14em;
    /* enter needed declarations here */
   display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;


}

.grey-box {
    background: grey;
    width: 3em;
    height: 3em;
}

.grey-box:nth-of-type(odd) {
    height: 4em;
}

body{
    display: flex;
    background: #3B94D9;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: white;
    width: 50%;
    height: available;

}

.card{
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    /*width: 80%;*/
    /*height: 100%;*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}